<%= stylesheet_link_tag 'sessions', media: 'all' %>

<%= turbo_frame_tag "session" do %>
  <div class="loginActions">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name), data: { turbo: false }) do |f| %>

      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", value: "email@email.com" %>
      </div>

      <div class="field">
        <%= f.label :password %><br />
        <%= f.password_field :password, autocomplete: "current-password", value: "123456" %>
      </div>


      <div class="actions">
        <%= f.submit "Log in"%>
      </div>

      <div class="actionLinks">
        <%= link_to "Don't have an account?", :new_user_registration, data: { turbo_action: 'replace', turbo_frame: 'session' } %>
        <%= link_to 'Forgot password?', :new_user_password, data: { turbo_action: 'replace', turbo_frame: 'session' } %>
      </div>
    <% end %>
  </div>
<% end %>
