<%= stylesheet_link_tag 'nav', media: 'all' %>

<nav>
    <%= link_to 'lanTest', root_path%>
    <%= link_to 'User', '/user' %>
    <%= link_to 'tests', '/test'%>
    <%= link_to 'home', root_path%>
</nav>