<%= stylesheet_link_tag 'nav', media: 'all' %>

<nav>
    <%= link_to 'lanTest', root_path%>
    <%= link_to 'User', '/user' %>
    <%= link_to 'tests', '/tests'%>
    <%= link_to 'performance', '/performances'%>
    <%= link_to 'home', root_path%>
    <% if user_signed_in? %> 
        <%= button_to "Sign out", destroy_user_session_path, method: :delete %> 
    <% end %>
</nav>