<%= turbo_frame_tag 'groups' do %>
<%= form_for @group do |f| %>
    <%= f.label :language_id %>
    <%= f.collection_select :language_id, Language.all, :id, :language %>

    <%= f.label :name %>
    <%= f.text_field :name %>
    <%= f.submit "Create Group" %>
<% end %>


Group List:
<div id="groups">
  <% @groups.each do |group| %>
    <%= render 'group', group: group %>
  <% end %>
</div>
<% end %>