<%= turbo_frame_tag "word#{word.id}" do %>
    <div class= "blockBasicStyle tile tileText">
        <span class="tileFill" id="word_<%= word.id %>_name">
        <%= word.name %>
        </span>
        <span class="tileFill" id="word_<%= word.id %>_meaning">
        <%= word.meaning %>
        </span>

        <iconify-icon icon="tabler:edit" width="24" height="24" onclick="editWord(<%= word.id %>)"></iconify-icon>

        <%= link_to group_word_path(group_id: word.group_id, id: word.id), data: { turbo_action: 'replace', turbo_frame: "word#{word.id}", turbo_method: :delete } do %>
            <iconify-icon icon="material-symbols:delete-outline" width="24" height="24"></iconify-icon>
        <% end %>
    </div>
<% end %>
