<%= turbo_frame_tag 'session' do %>
  <div class="loginActions">
    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }, data: { turbo: false }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>

      <div class="actions">
        No mailer yet
        <%# <%= f.submit "Send me reset password instructions" %>
      </div>
      <div class="actionLinks">
        <%= link_to 'Log in', :new_user_session, data: { turbo_action: 'replace', turbo_frame: 'session' } %>
        <%= link_to "Don't have an account?", :new_user_registration, data: { turbo_action: 'replace', turbo_frame: 'session' } %>
      </div>
    <% end %>
  </div>
  
<% end %>