<%= stylesheet_link_tag 'performances', media: 'all' %>

<h2>Results of <%=@test.groups[0].name%> test</h2>


<div class="performancesDisplay">
<div class="performancesDisplayInner">

<b>The questions asked were:</b>
<% @questions.each do |question| %>
    <%=question%>
<%end%>
<div></div>
<div></div>
<b>The correct answers were:</b>
<% @answers.each do |answer| %>
    <%=answer%>
<%end%>
<div></div><div></div>
<b>Your inputs were:</b>
<% @input.each do |input| %>
    <%=input%>
<%end%>
<div></div><div></div>
you got <%=@correct_answers%> questions correct out of <%= @questions.length%>

</div>
</div>